<!DOCTYPE html>
<html>
<head>
  <title>InsecureBlog</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <h1>InsecureBlog admin</h1>
  <nav>
    <%= link_to "Posts", admin_posts_path %>
    |
    <%= link_to "Comments", admin_comments_path %>
  </nav>

<%= yield %>

<footer>
  <hr>
  <%= link_to "Main site", root_path %>
</footer>
</body>
</html>
