<!DOCTYPE html>
<html>
<head>
  <title>InsecureBlog</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <h1>InsecureBlog</h1>
  <p class="flash"><%= notice %></p>
<%= yield %>

<footer>
  <hr>
  <%= link_to "Admin login", admin_root_path %>
</footer>

</body>
</html>
